[submodule "kompute"]
	path = ggml/src/ggml-kompute/kompute
	url = https://github.com/nomic-ai/kompute.git
[submodule "ggml-tsi-kernel"]
	path = ggml-tsi-kernel
	url = git@github.com:tsisw/ggml-tsi-kernel.git
[submodule "toolbox"]
	path = toolbox
	url = git@github.com:tsisw/toolbox.git
